{% extends "master.html" %}

{% block head %}
  <title>{{ title }}</title>
  <link href="/stylesheets/about.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
  <div class="container main-container">
    <h2 class="title">Team Tricorder</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="img-person" alt="Generic placeholder image" style="background-image: url('/images/default/manas.jpg');"></div>
        <h3>Manas Bajaj</h3>
        <p>Did very awesome stuff.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="img-person" alt="Generic placeholder image" style="background-image: url('/images/default/adam.jpg');"></div>
        <h3>Adam Frank</h3>
        <p>Did very awesome stuff.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="img-person" alt="Generic placeholder image" style="background-image: url('/images/default/pira.jpg');"></div>
        <h3>Pira Limpiti</h3>
        <p>Did very awesome stuff.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-4">
        <div class="img-person" alt="Generic placeholder image" style="background-image: url('/images/default/angel.jpg');"></div>
        <h3>Angel Ignatov</h3>
        <p>Did very awesome stuff.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="img-person" alt="Generic placeholder image" style="background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==');"></div>
        <h3>Arturas Lol</h3>
        <p>Did very awesome stuff.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-2"></div>
    </div>
  </div>
{% endblock %}