
{% extends "master.html" %}

{% block head %}
    <title>{{ title }}</title>
    <link href="/stylesheets/home.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-home">
        <div class="mask">
            <div class="container">
                <h1 class="title">Team Tricorder</h1>
                <p class="subtitle">Welcome to our bus app.</p>
            </div>
        </div>
    </div>

    <div class="container intro-container">
        <h2 class="intro-title">How it Works</h2>
        <div class="row">
            <div class="col-md-3">
                <img class="img-circle" src="/images/default/search.png" width="100" height="100">
                <h3>Find Stops</h3>
                <p>Quickly search for stops by name, locality or even the services served by them.</p>
            </div>
            <div class="col-md-3">
                <img class="img-circle" src="/images/default/bus.png" width="100" height="100">
                <h3>Service Timetables</h3>
                <p>View the next departures for each bus service at each stop serviced by Lothian Buses, along with their full timetables.</p>
            </div>
            <div class="col-md-3">
                <img class="img-circle" src="/images/default/star.png" width="100" height="100">
                <h3>Favourite Stops</h3>
                <p>Keep a list of your favourite bus stops to easily revisit them later.</p>
            </div>
            <div class="col-md-3">
                <img class="img-circle" src="/images/default/location.png" width="100" height="100">
                <h3>Live Locations</h3>
                <p>Fully integrated vector Google Maps which can show your location as well as nearby bus stops, buses and coloured bus routes.</p>
            </div>
        </div>

    </div>
{% endblock %}