
{% extends "master.html" %}

{% block head %}
    <title>{{ title }}</title>
    <link href="/stylesheets/home.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Team Tricorder</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        </div>
    </div>
{% endblock %}