<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/master.css" rel="stylesheet" type="text/css">

    {% block head %}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Tricorder</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if current_url == urls.home %} class="active" {% endif %}><a id="home-tab-link" href="{{ urls.home }}">Home</a></li>
                <li {% if current_url == urls.nearby_stops %} class="active" {% endif %}><a id="stops-near-me-tab-link" href="{{ urls.nearby_stops }}">Nearby Stops</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

{% block body %}
{% endblock %}


<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery/jquery-2.1.3.min.js"></script>
<script src="/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>