{% extends "master.html" %}

{% block head %}
    <title>{{ title }}</title>
    <link href="/stylesheets/nearby_stops.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="nearby-stops-container">
            <div class="filter-container">
                <div class="left">
                    <div class="number-filter">
                        <p class="label">Number of results shown: <span class="count">{{ stops.length }}</span></p>
                    </div>
                    <div class="service-filter">
                        <p class="label">Services shown: </p>
                    </div>
                </div>
                <div class="right">
                    <button id="change-filter-button" class="btn btn-primary">Change Filter</button>
                </div>
                <hr>
            </div>
            <div class="row">
                {% for stop in stops %}
                <div class="col-md-6">
                    <div class="stop-container">
                        <div class="title-container">
                            <p class="title">{{ stop.name }} ({{ stop.direction }})</p>
                            <p class="distance">{{ stop.distanceFromUser }}</p>
                        </div>
                        <p class="locality">{% if stop.locality  %} {{ stop.locality }} {% else %} (locality not available) {% endif %}</p>
                        <p class="services">{{ stop.services }}</p>
                    </div>
                </div>
                {% if loop.index % 2 == 0 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Filter modal -->
    <div id="filter-modal" class="modal fade">
        <p id="count-selected" hidden="">{{ count_selected }}</p>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change Filter</h4>
                </div>
                <div id="filter-modal-body" class="modal-body">
                    <p>Number of stops to display:</p>
                    <select class="form-control" id="filter-modal-count-select">
                        {% for count in count_choices %}
                            <option value="{{ count }}">{{ count }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="filter-modal-negative-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="filter-modal-positive-button" type="button" class="btn btn-primary">Apply changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
