{% extends "master.html" %}

{% block head %}
    <title>{{ title }}</title>
    <link href="/stylesheets/nearby_stops.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="container">
        <p class="main-title">Nearby Stops</p>
        <p class="hint">Double click on any stop marker to generate walking route</p>

        <div class="nearby-stops-container" id="nearby-stops-container">
            <div id="nearby-stops-map-container" {% if stops.length == 0 %} hidden="" {% endif %}></div>
            <div class="filter-container">
                <div class="left">
                    <div class="number-filter">
                        <p class="label">Number of results shown: <span class="value">{{ stops.length }}</span></p>
                    </div>
                    <div class="service-filter">
                        <p class="label">Services shown: <span class="value">{{ service_selected }}</span> </p>
                    </div>
                </div>
                <div class="right">
                    <button id="change-filter-button" class="btn btn-primary">Change Filter</button>
                </div>
                <hr>
            </div>
            {% if stops.length > 0 %}
                <div class="legend-container">
                    <p class="title">Proximity Legend</p>
                    <p><span class="alert-success legend">< 5 minute walk</span> <span class="alert-warning legend">< 10 minute walk</span> <span class="alert-danger legend">> 10 minute walk</span></p>
                </div>
                <div class="row">
                {% for stop in stops %}
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <a class="stop-container" href="{{ urls.stop }}/{{ stop.stop_id }}">
                            <div class="title-container">
                                <p class="title"><span class="name">{{ stop.name }}</span> ({{ stop.direction }})</p>
                                <p class="distance {% if stop.distanceFromUser < 400 %} alert-success {% elseif  stop.distanceFromUser < 800 %} alert-warning {% else %} alert-danger {% endif %}">{{ stop.distanceFromUserHumanized }}</p>
                            </div>
                            <p class="locality">{% if stop.locality  %} {{ stop.locality }} {% else %} (locality not available) {% endif %}</p>
                            <p class="services">Services: {{ stop.services }}</p>
                            <p class="lat" hidden="">{{ stop.coordinates[1] }}</p>
                            <p class="lng" hidden="">{{ stop.coordinates[0] }}</p>
                        </a>
                    </div>
                    {% if loop.index % 2 == 0 %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
            {% else %}
                <div class="nothing-to-see-here-container">
                    <p>Nothing To See Here...</p>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Filter modal -->
    <div id="filter-modal" class="modal fade">
        <p id="count-selected" hidden="">{{ count_selected }}</p>
        <p id="service-selected" hidden="">{{ service_selected }}</p>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><strong>Change Filter</strong></h4>
                </div>
                <div id="filter-modal-body" class="modal-body">
                    <p>Number of stops to display:</p>
                    <select class="form-control" id="filter-modal-count-select">
                        {% for count in count_choices %}
                            <option value="{{ count }}">{{ count }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <p>Services to display:</p>
                    <select class="form-control" size="10" id="filter-modal-service-select" multiple>
                        {% for service in service_choices %}
                            <option value="{{ service }}">{{ service }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="filter-modal-negative-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="filter-modal-positive-button" type="button" class="btn btn-primary">Apply changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
