{% extends "master.html" %}

{% block head %}
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sign_up.css">
{% endblock %}

{% block body %}
    <div class="container main-container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="sign-up-form-container">
                <p class="title">Sign Up For An Account</p>
                <hr class="form-divider">
                <form action="{{ urls.sign_up }}" method="post">
                    {% if error %} <p class="alert-danger form-error"><strong>Error:</strong> {{ error }}</p> {% endif %}
                    <input class="form-control username-input" name="username" type="text" placeholder="Username" required="" title="No spaces allowed">
                    <input class="form-control password-input" name="password" type="password" placeholder="Password" required="" pattern=".{6,}" title="6 characters minimum">
                    <input class="form-control btn btn-primary submit-button" type="submit" value="Sign Up">
                </form>
                <hr class="form-divider">
                <p>Already registered? <a class="use-existing-account-link" href="{{ urls.sign_in }}">Use existing account</a></p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}