{% extends "master.html" %}

{% block head %}
    <title>{{ title }}</title>
    <link href="/stylesheets/stop.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="container main-container">
        <div class="title-container">
            <p class="main-title">{{ stop.name }} ({{ stop.direction }})</p>
            {% if user %}
                {% if isStopFavourite %}
                    <button type="button" class="btn btn-danger favourite-button">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="favourite-button-text">Remove from Favourites</span>
                    </button>
                {% else %}
                    <button type="button" class="btn btn-primary favourite-button">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="favourite-button-text">Add to Favourites</span>
                    </button>
                {% endif %}
            {% else %}
                <div style="display: inline-block;" data-toggle="tooltip" data-placement="right" title="Sign in to perform this action">
                    <button type="button" class="btn btn-primary favourite-button disabled">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <span class="favourite-button-text">Add to Favourites</span>
                    </button>
                </div>
            {% endif %}
            <p class="distance-from-user">{{ stop.distanceFromUser }} away from you</p>
        </div>
        <div id="stop-map-container"></div>
        <p class="lat" hidden="">{{ stop.coordinates[1] }}</p>
        <p class="lng" hidden="">{{ stop.coordinates[0] }}</p>

        <div class="upcoming-services-container">
            <p class="title">Upcoming Services</p>

            <ul class="nav nav-tabs tabs">
                {% for service in services %}
                    <li role="presentation" class="tab">
                        <a href="#{{ service.name }}"><span class="service-name">{{ service.name }}</span>  to {{ service.destination }}
                            {% if service.timetables[0] %}
                                <br> <span class="text-success">due {{ service.timetables[0].humanizedTime }}</span>
                            {% else %}
                                <br> <span class="text-danger">service inactive</span>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content-container">
                {% for service in services %}
                    <div class="tab-content {{ service.name }}" hidden="">
                        {% if service.timetables.length > 0 %}
                            <strong>------Times-----</strong>
                            {% for timetable in service.timetables %}
                                <p>{{ timetable.service_name }} - {{ timetable.humanizedTime }}</p>
                            {% endfor %}
                            <strong>------Buses-----</strong>
                            {% for bus in service.buses %}
                                <p>{{ bus.service_name }} - {{ bus.vehicle_id }} - {{ bus.distanceFromUser }}</p>
                            {% endfor %}
                        {% else %}
                            <div class="nothing-to-see-here-container">
                                <p>Nothing To See Here...</p>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Favourite modal -->
    <div id="favourite-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><strong>Add To Favourites</strong></h4>
                </div>
                <div id="favourite-modal-body" class="modal-body">
                    <div class="alert-danger" id="favourite-modal-error-container"></div>
                    <p>Stop Name: <strong>{{ stop.name }}</strong></p>
                    <form id="favourite-form" data-add-action="{{ urls.add_stop_to_favourites }}" data-remove-action="{{ urls.remove_stop_from_favourites }}" method="post">
                        <p>Choose an easy to remember name: (Optional)</p>
                        <input id="favourite-modal-alt-name-input" class="form-control">
                        <input id="favourite-modal-stop-id-input" hidden="" value="{{ stop.stop_id }}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="favourite-modal-negative-button" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="favourite-modal-positive-button" type="submit" form="favourite-form" class="btn btn-primary">Add</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}