body {
    margin-top: 50px;
    background-color: #f5f8fa;
}


.main-container .sign-up-form-container {
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    overflow: hidden;
}

.main-container .sign-up-form-container .title {
    font-size: 150%;
}

.main-container .sign-up-form-container .form-divider {
    border-top: 1px solid #eee;
}

.main-container .sign-up-form-container .form-error {
    padding: 5px;
    text-align: center;
    margin-bottom: 15px;
}

.main-container .sign-up-form-container .username-input {
    margin-bottom: 15px;
}

.main-container .sign-up-form-container .submit-button {
    margin-top: 15px;
    width: auto;
}