.main-container .title-container {
    text-align: center;
    margin-bottom: 10px;
}

.main-container .title-container .main-title {
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 0;
}

.main-container .title-container .favourite-button {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-container .title-container .distance-from-user {
    color: #337ab7;
    font-size: 150%;
    text-align: center;
}


.main-container #stop-map-container {
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
}


.main-container .upcoming-services-container {
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.main-container .upcoming-services-container .title {
    font-size: 150%;
    margin-bottom: 20px;
}

.main-container .upcoming-services-container .divider {
    border-color: lightgrey;
}

.main-container .upcoming-services-container .tabs {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

.main-container .upcoming-services-container .tabs .tab {
    float: none;
    text-align: center;
}

.main-container .upcoming-services-container .tabs .tab .service-name {
    font-weight: bold;
}

.main-container .upcoming-services-container .tab-content-container {
    padding: 15px;
}

.main-container .upcoming-services-container .tab-content-container .time {
    color: #337ab7;
    font-weight: bold;
}

.main-container .upcoming-services-container .tab-content-container .panel-heading-right {
    float: right;
    cursor: pointer;
}

.main-container .upcoming-services-container .tab-content-container .vehicle-id {
    color: #337ab7;
    font-weight: bold;
}

#favourite-modal #favourite-modal-error-container {
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

#timetable-modal .day-tab {
    cursor: pointer;
}

#timetable-modal .tabs-content-container {
    margin-top: 20px;
    text-align: center;
}

#timetable-modal .tabs-content-container .time {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f5f5f5;
    border: 1px solid lightgrey;
    border-radius: 3px;
}





